.testimonials-container {
    width: 70%;
    padding-bottom: 2.5rem !important;
}

.client-avatar {
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 60%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-varaint);
}

.testimonial {
    background: var(--color-bg-varaint);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
    /* width: 50%; */
}

.testimonial:hover {
    background: var(--color-primary);
}

.client-review {
    counter-reset: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background: var(--color-primary);
}

/* //// medium  */
@media screen and (max-width:1024px) {
    testimonials-container {
        width: var(--container-width-md);
    }

    .client-review {
        width: var(--container-width-md);
    }
}


/* //// small  */
@media screen and (max-width:600px) {
    testimonials-container {
        width: var(--container-width-sm);
    }

    .client-review {
        width: var(--container-width-sm);
    }
}